In [1]:
from datetime import datetime

t1 = datetime.now()
t1

datetime.datetime(2022, 4, 29, 16, 45, 6, 879030)

In [2]:
import pandas as pd 
from pathlib import Path

In [3]:
df = pd.read_csv("..\data\external\series.csv")

In [4]:
df.head(3)
# del btc['Date']

  CATEGORY        DATE  UNITS_SOLD
0  CATEG-1  2021-08-17          59
1  CATEG-1  2020-09-19          40
2  CATEG-2  2021-10-26          23

In [5]:
df_CATEG_1 = df.query("CATEGORY == 'CATEG-1'").drop(["CATEGORY"], axis = 1)
filepath = Path("..\data\processed\CATEG_1.csv")  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_CATEG_1.to_csv(filepath, index=False) 
df_CATEG_1 = pd.read_csv(filepath)
df_CATEG_1.head(3)

         DATE  UNITS_SOLD
0  2021-08-17          59
1  2020-09-19          40
2  2021-04-27          60

In [6]:
df_CATEG_2 = df.query("CATEGORY == 'CATEG-2'").drop(["CATEGORY"], axis = 1)
filepath = Path("..\data\processed\CATEG_2.csv")  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_CATEG_2.to_csv(filepath, index=False) 
df_CATEG_2.head(3)

         DATE  UNITS_SOLD
2  2021-10-26          23
4  2021-05-05          61
7  2020-08-23          28

In [7]:
df_CATEG_3 = df.query("CATEGORY == 'CATEG-3'").drop(["CATEGORY"], axis = 1)
filepath = Path("..\data\processed\CATEG_3.csv")  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_CATEG_3.to_csv(filepath, index=False) 
df_CATEG_3.head(3)

         DATE  UNITS_SOLD
5  2018-10-18           1
6  2021-06-26        1462
9  2020-06-11        1373

In [8]:
from datetime import datetime
t2 = datetime.now()
dt = t2 - t1
print(f"O tempo total para rodar o sript foi de {dt}")

O tempo total para rodar o sript foi de 0:00:00.978236